<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

</head>
<body>
	<form method="POST">
		<input type="text" name="" id="tipo">
		<input type="text" name="" id="contato">
		<input type="text" name="" id="usuario">
		<input type="button" onclick="cadastrarContato();" class= "btn btn-outline-info" id="btnContato" name="btnContato" value="Enviar">
	</form>
	<script type="text/javascript" src="js/apis.js"></script>
</body>
</html>
