{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
{% block 'usuario' %}
<span>{{ user }}</span>
{% endblock 'usuario' %}
{% block 'blankPage' %}
    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-pedidos-tab" data-toggle="pill" href="#pills-pedidos" role="tab" aria-controls="pills-pedidos" aria-selected="true">Pedidos Disponíveis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-propostasEnviadas-tab" data-toggle="pill" href="#pills-propostasEnviadas" role="tab" aria-controls="pills-meusPedidos" aria-selected="false">Propostas enviadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-propostasEnviadas-tab" data-toggle="pill" href="#pills-propostasRecebidas" role="tab" aria-controls="pills-pedSolicitados" aria-selected="false">Propostas recebidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profissionais-tab" data-toggle="pill" href="#pills-profissionais" role="tab" aria-controls="pills-profissionais" aria-selected="false">Profissionais</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-pedidos" role="tabpanel" aria-labelledby="pills-pedidos-tab">

        <!-- inicio pedidos -->
        {% for pedido in pedidos %}
            <div class="row ">
                    <div class="col-xl-6 col-lg-8 ">
                      <form method="POST" action="{% url 'detalhesPedidos' %}">{% csrf_token %}
                        <div class="card l-bg-blue-dark">
                            <div class="card-statistic-3 p-4">
                                 <div class="mb-3">
                                  <input name="pedido" value={{pedido.id}} type="hidden"></input>
                                    <span>Categoria :</span>
                                    <h5 class="card-title mb-0">{{pedido.categoria_fk.categoria}}</h5>
                                </div>
                                <span>Detalhes do pedido :</span>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-12">
                                        <h4 class="d-flex align-items-center mb-0">
                                            {{pedido.titulo}}
                                        </h4>
                                    </div>
                                    <span>Descrição :</span></br>
                                    <div class="col-12">
                                      <h4 class="d-flex align-items-center mb-0">
                                        {{pedido.descricao}}
                                      </h4>
                                  </div>
                                </div>
                              </br>
                              <div class="mb-3" align="right">
                                <span>Solicitado por:</span>
                                <h7 class="card-title mb-0">
                                  {{pedido.usuario_fk.first_name}}
                                  {{pedido.usuario_fk.last_name}}
                                </h7>
                              </div>
                                <div data-height="50" style="height: 18px;">
                                    <div>
                                      <button class="btn l-bg-green-dark" style="width:100%;height:35px;" >Ver mais  <i class="fa fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </form>
                    </div>
            </div>
        {%endfor%}
        <!-- final pedidos -->

      </div>
      <!--Propostas Enviadas -->
      <div class="tab-pane fade" id="pills-propostasEnviadas" role="tabpanel" aria-labelledby="pills-propostasEnviadas-tab">
        {% for p in propostaEnviadaPor %}
        <div class="row">
          <div class="col-xl-6 col-lg-8 ">
          <div class="card l-bg-blue-dark">
            <div class="card-body">
              <h7 class="card-title">Enviada para :
                {{p.usuarioProposta_fk.first_name}}
                {{p.usuarioProposta_fk.last_name}}
              </h7>
              <p class="card-text">R$ {{p.valor}}</p>
              <p class="card-text">{{p.observacao}}</p>
              <p class="card-text">Data de Início {{p.prevInicio}}</p>
              <p class="card-text">Prazo de conclusão {{p.prazo}} dias úteis</p>
              {% if p.propostaAceita %}
                <span>Status :</span>
                <p class="card-text">Aceita</p>
              {% elif p.propostaAceita == False %}
                <span>Status :</span>
                <p class="card-text">Recusada</p>
              {% else  %}
              <span>Status :</span>
                <p class="card-text">Aguardando resposta</p>
              {% endif %}
              <div class="card-footer" style="background: inherit;">
                <a href="#" class="btn btn-danger">Descartar</a>
                <a href="#" class="btn btn-secondary">Alterar</a>
              </div>
            </div>
          </div>
        </div>  
        </div>
        {%endfor%}
      </div>
      <!--Propostas Recebidas -->
      <div class="tab-pane fade" id="pills-propostasRecebidas" role="tabpanel" aria-labelledby="pills-propostasEnviadas-tab">
        <div class="row">
          {% for p in propostaRecebidas  %}
            <form method="POST" action="{% url 'aceitarProposta'%}">
                {% csrf_token %}
                <div class="card l-bg-blue-dark" style="width: 40rem; display :block;">
                  <div class="card-body">
                    <div>
                      <div align=right>
                      <span align="right">Proposta nº: {{p.id}}</span>
                      </div>
                      <input type="hidden" class="card-title" name="propostaId" id="propostaId" align="right" value="{{p.id}}"></input>
                      <h6 class="card-title">Pedido: {{p.pedido_fk.id}}</h6>
                      <h6 class="card-title">{{p.pedido_fk.titulo}} </h6>
                    </div>
                  <hr></hr>
                    <p class="card-text">R$ {{p.valor}}</p>
                    <p class="card-text">{{p.observacao}}</p>
                    <p class="card-text">Data de Início {{p.prevInicio}}</p>
                    <p class="card-text">Prazo de conclusão {{p.prazo}} dias úteis</p>
                    <div align="right">
                      <h7 class="card-title">Enviada por :
                        {{p.usuarioProposta_fk.first_name}}
                        {{p.usuarioProposta_fk.last_name}}
                      </h7>
                    </div>
                    <div class="card-footer" style="background: inherit;">
                      <input type="submit" class="btn btn-primary" value="Aceitar"></input>
                      <input type="submit" class="btn btn-danger" value="Descartar"></input>
                    </div>
                  </div>
                </div>
            </form>
          {% endfor %}
      </div>
      </div>
      <!--Profissionais -->
      <div class="tab-pane fade" id="pills-profissionais" role="tabpanel" aria-labelledby="pills-profissionais-tab">
        <div class="row">
          <div class="col-sm-12">
              <div class="row d-flex align-items-center">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                  <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                      <div class="col-md-4 gradient-custom text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                          alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                        <h5>Marie Horwitz</h5>
                        <p>Web Designer</p>
                        <i class="far fa-edit mb-5"></i>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body p-4">
                          <h6>Information</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-6 mb-3">
                              <h6>Email</h6>
                              <p class="text-muted">info@example.com</p>
                            </div>
                            <div class="col-6 mb-3">
                              <h6>Phone</h6>
                              <p class="text-muted">123 456 789</p>
                            </div>
                          </div>
                          <h6>Projects</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-6 mb-3">
                              <h6>Recent</h6>
                              <p class="text-muted">Lorem ipsum</p>
                            </div>
                            <div class="col-6 mb-3">
                              <h6>Most Viewed</h6>
                              <p class="text-muted">Dolor sit amet</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start">
                            <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                            <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                            <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock 'blankPage' %}  
{%  block 'js' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
{% endblock %}
