{% extends 'base.html' %}
{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% block 'blankPage' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Uau !</h1>
                    <h2>
                        Proposta enviada</h2>
                    <div class="error-details">
                        Parabéns, sua proposta foi enviada !
                    </div>
                    <div class="error-actions">
                        <a href={% url 'home'%} class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Pagina inicial </a><a href={% url 'home'%} class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%block 'js' %}
{% endblock %}